@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    font-family: Josefin Sans;
    height: 100vh;
}

.container {
    background-color: #fafafa;
    width: 1440px;
    height: 100%;
}

.bg {
    background-image: url(./images/bg-desktop-light.jpg);
    background-repeat: no-repeat;
    width: 1440px;
    height: 300px;
    display: flex;
    padding: 70px 449px 190px 450px;
}
.title {
    display: flex;
    gap: 290px
}



.sun {
    display: none;
}


.moon:hover {
    cursor: pointer;
}

.title h1 {
    color: #fff;
    letter-spacing: 10px;
    font-weight: 800;
    font-size: 60px;
}

.rectangle{
    width: 540px;
    height: 64px;
    position: absolute;
    top: 158px;
    left: 450px;
    padding: 23px 24px 24px 24px;
    border-radius: 5px;
    box-shadow: 0 35px 50px -15px rgba(194, 195, 214, 0.5);
    background-color: #fff;
    display: flex;
    align-items: center;
  }


.oval {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-repeat: no-repeat;
    border: solid 1px #e3e4f1;
}

.check {
    position: absolute;
    top: 3.5px;
    left: 3.5px;
    width: 15px;
    height: 15px;
}

.cross {
    width: 18px;
    height: 18px;
}

.create-a-new-todo {
    width: 183px;
    height: 24px;
    border: none;
    margin-left: 24px;
    margin-right: 243px;
    /* background-color: aqua; */
    font-size: 18px;
    letter-spacing: -0.25px;
}


/* ეს ჰოვერი დაედოს დამატებულზე */
/* .create-a-new-todo { */
    /* cursor: pointer; */
/* } */

/* ახალი რომ დაემატება color-ს ფერი მიეცეს */
.line {
    /* display: none; */
    position: absolute;
    width: 540px;
    height: 1px;
    top: 64px;
    left: 1px;
    background-color: none;
    /* background-color: #e3e4f1; */
}

/* ახალი რომ დაემატება ჩრდილი გააქტიურდეს */
.list-of-todo {
    position: absolute;
    width: 540px;
    height: 375px;
    top: 246px;
    margin-left: 450px;
    color: #9495a5;
    /* box-shadow: 0 35px 50px -15px rgba(194, 195, 214, 0.5); */
    /* background-color: bisque; */
}

/* რამდენიც დაემატება, იმდენჯერ top-ს უნდა დაემატოს 65px */

.todo1, .todo2, .todo3, .todo4, .todo5{
    width: 540px;
    height: 64px;
    position: absolute;
    padding: 23px 24px 24px 24px;
    border-radius: 5px;
    box-shadow: 0 35px 50px -15px rgba(194, 195, 214, 0.5);
    background-color: #ffffff;
    display: flex;
    align-items: center;
  }

.todo2{
    top:65px;
  }

.todo3{
    top:130px
  }

  .todo4{
    top:195px
  }

  .todo5{
    top:260px
  }

  .todotext {
    width: 183px;
    height: 24px;
    border: none;
    margin-left: 50px;
    margin-right: 243px;
    margin-top: 10px;
    font-size: 18px;
    letter-spacing: -0.25px;
}
  

  .todocross {
    /* display: none; */
    width: 18px;
    height: 18px;
    font-size: 30px;
    border: none;
    position: absolute;
    left: 505px;
}

    .todooval{
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-repeat: no-repeat;
    border: solid 1px #e3e4f1;
    margin-left: -475px 
}

    .todooval:hover {
        cursor: pointer;
}


.todocheck {
    position: absolute;
    top: -1px;
    left: 5px;
    width: 15px;
    height: 15px;
    color: red;
    font-size: 25px;
    display: none;
}

.cross:hover {
    cursor: pointer;
}

.left-clear {
    position: absolute;
    padding: 16px 24px 20px 24px;
    width: 540px;
    height: 50px;
    display: flex;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    top: 325px;
    font-size: 14px;
    letter-spacing: -0.19px;
}

.left {
    margin-left: 5px;
}

.all-active-completed {
display: flex;
margin-left: 96px;
margin-right: 56px;
gap: 19px;
font-weight: bold;
color: #9495a5;
}

.all {
    color: #3a7cfd;
}

.all, .active, 
.completed, .clear-completed:hover{
cursor: pointer;
}

.reorder {
    width: 540px;
    position: absolute;
    display: flex;
    justify-content: center;
    /* align-self: last baseline; */
    text-align: center;
    top: 680px;
    left: 445px;
    font-size: 14px;
    letter-spacing: -0.19px;
    color: #9495a5;
}

/* dark theme */


.dark .container {
    background-color: #171823;
}

.dark .bg {
    background-image: url(./images/bg-desktop-dark.jpg);
} 

.dark .rectangle, 
.dark .left-clear,
.dark .create-a-new-todo {
    background-color: #25273d;
}

.dark .oval {
    border:solid 1px #393a4b
}

.dark .check {
    display: none
}
.dark .moon {
    display:none;
}

.dark .sun {
    display: block;
}






@media screen and (max-width: 375px) {

    .container {
        width: 375px;
        /* height: 933px; */
    }
    .bg {
        background-image: url(./images/bg-mobile-light.jpg);
        background-repeat: no-repeat;
        width: 375px;
        height: 200px;
        padding: 48px 24px 132px 26px;
    }

    .bg #dark-bg {
        display: none;
        background-image: url(./images/bg-mobile-dark.jpg);
    }

    .title {
        display: flex;
        gap: 170px
    }

    .title h1 {
        
    font-size: 30px;
    }

    .rectangle {
        width: 327px;
        height: 50px;
        top: 108px;
        left: 24px;
        padding: 18px 20px;
    }

    .oval {
        width: 20px;
        height: 20px;
    } 

    .check {
    position: absolute;
    top: 5px;
    left: 5.2px;
    width: 8px;
    height: 8px;
    } 

    .create-a-new-todo {
        width: 122px;
        height: 12px;
        margin-left: 12px;
        margin-right: 120px;
        font-size: 12px;
        letter-spacing: -0.17;
    }

    .cross {
        width: 12px;
        height: 12px;
    }

    .line {
        width: 327px;
    }

    .list-of-todo {
        width: 327px;
        height: 350px;
        top: 172px;
        margin-left: 24px;
        color: #9495a5;
        /* background-color: bisque; */
    }

    .left-clear {
        width: 327px;
        padding: 16px 20px 22px 20px;
        height: 50px;
        top: 300px;
        font-size: 12px;
        letter-spacing: -0.17px;
    }

    .left {
        margin-right: 138px;
    }

    .all-active-completed {
        width: 327px;
        height: 50px;
        position: absolute;
        left: -95px;
        top: 66px;
        background-color: #ffffff;
        padding: 15px 80px 19px 81px;
        box-shadow: 0 35px 50px -15px rgba(194, 195, 214, 0.5);
    }
    .reorder {
        width: 327px;
        bottom: 22px;
        left: 30px;
        /* transform: translate(-60%); */
    }
}